// // collapse.scss 
@use "../../sass/variables" as *;

.collapse {
    width: 100%;
    $color-screen: rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;

    .collapse-title {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        p {
            font-weight: 700;
            font-size: 24px;
            margin: 0;
        }

        img {
            width: 24px;
            height: 13px;
            padding-right: 15px;
            transition: transform 0.5s ease;
        }

    }

    .collapse-content {
        font-size: 18px;
        font-weight: 400;
        max-height: 0;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        list-style: none;
        padding: 0 1rem;
        transition: max-height 0.3s ease, padding 0.5s ease;
        background-color: $background-content;
        color: $color-secondary;
    }

    &.open .collapse-content {
        max-height: 100vh;
        padding: 1rem;
    }

    &.open .collapse-title img {
        transform: rotate(-180deg);
    }
}

@media screen and (max-width: 768px) {
    .collapse {
        margin-bottom: 20px;

        .collapse-title {
            p {
                font-size: 18px;
            }

            img {
                width: 20px;
                height: 11px;
            }
        }

        .collapse-content {
            font-size: 18px;
            margin: 0;
        }
    }

}

@media screen and (max-width: 560px) {
    .collapse {
        margin-bottom: 20px;

        .collapse-title {
            p {
                font-size: 13px;
            }

            img {
                width: 16px;
                height: 9px;
            }
        }

        .collapse-content {
            font-size: 12px;
            margin: 0;
        }
    }


}