@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.cards {
    width: 100%;
    max-width: 340px;
    height: 340px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    gap: 3rem;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info {
        width: 40%;
        position: absolute;
        bottom: 0%;
        left: 20%;
        @include gradient-box;
    }

    h3 {
        color: $color-tertiary;
        font-size: 16px;
        font-weight: 300;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
}

@media screen and (max-width: 560px) {
    .cards {
        width: 100%;
        max-width: 100%;
        height: 255px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}