@use "../../sass/variables" as *;

.apartment-details {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 40px;

    .slider {
        margin-bottom: 30px;
    }

    .apartment-info {
        display: flex;
        justify-content: space-between;

        .apartment-info-left,
        .apartment-info-right {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 560px) {
    .apartment-details {
        margin-bottom: 27px;
        padding: 0 0.5rem;

        .slider {
            margin-bottom: 15px;
        }

        .apartment-info {
            flex-direction: column;
            
            // @media screen and (max-width: 560px) {
                    .apartment-info-right {
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        margin-bottom: 13px;
            
                        .host-info {
                            margin: 0;
                            order: 2;
            
                            .host-name span {
                                padding-bottom: 5px;
                            }
                        }
            
                        .rating-star {
                            order: 1;
                        }
                    }
                // }
        }
    }
}