// src/pages/about/about.scss
@use "../../sass/variables.scss" as *;

.collapse {
    
    margin-bottom: 2rem;
    
    .collapse-title {
        // position: relative;
        border-radius: 5px;   
    }

    .collapse-content {
        border-radius: 0 0 5px 5px;// z-index: -1;
    }

}