.about-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 2.3rem;

    .about-collapse {
        padding-inline: 3.5rem;
        margin-top: 2rem;

    }


}

@media screen and (max-width: 560px) {
    .about-container {
        padding-inline: 0.5rem;
        margin-bottom: 1.6rem;

        .about-collapse {
            padding-inline: 0rem;
            margin-top: 1.6rem;
        }
    }
}