@use "../../sass/variables" as *;

.gallery {
    background-color: $background-gallery;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 560px) {
    .gallery {
        background-color: black;
        width: 100%;
        padding: 0;
        margin-bottom: 1.6rem;
        border-radius: 10px;
        // justify-content: center;
    }
}