@use "../../sass/variables" as *;

.apartment-info-right {
    display: flex;
    align-items: end;

    .host-info {
        margin-bottom: 27px;

        .host-name span {
            padding-bottom: 5px;
        }
    }
}
// Conflict with "apartment-info" in "apartment-details.scss"
